@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.sin-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.sin-scrollbar::-webkit-scrollbar {
  display: none;
}
